<a href="https://colab.research.google.com/github/karthikeyanthanigai/AirQuality-prediction-using-decision-tree-/blob/master/airquality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

# Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

![alt text](https://solarimpulse.com/img/topics/air-pollution-header.jpg)

In [2]:
# Importing the dataset
dataset = pd.read_csv("AirQuality.csv")
#this function will provide the descriptive statistics of the dataset.(only int value)
dataset.describe()

            CO(GT)  PT08.S1(CO)  ...  Unnamed: 15  Unnamed: 16
count  9357.000000  9357.000000  ...          0.0          0.0
mean    -34.207524  1048.990061  ...          NaN          NaN
std      77.657170   329.832710  ...          NaN          NaN
min    -200.000000  -200.000000  ...          NaN          NaN
25%       0.600000   921.000000  ...          NaN          NaN
50%       1.500000  1053.000000  ...          NaN          NaN
75%       2.600000  1221.000000  ...          NaN          NaN
max      11.900000  2040.000000  ...          NaN          NaN

[8 rows x 15 columns]

In [0]:
#determine X and y variables(this values are taken as independent variables and dependent variable)
X = dataset.iloc[:9356,[2,3,4,5,6,7,8,9,10,11,12]].values
y = dataset.iloc[:9356,-3].values

In this dataset we have last two column values as nan(None)so leave this column,and there are only 9356 rows which as values so we are taking this values only!!(the rest rows vlaues are nan(None))

In [0]:
#split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train,y_test = train_test_split(X, y , test_size=0.4, random_state = 0, shuffle = True )

In [5]:
#decision tree
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(max_features='sqrt')
regressor.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features='sqrt', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [0]:
#predict the test data
y_pred = regressor.predict(X_test)

In [7]:
#r2score
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, y_pred)
print(r_squared)

0.9999781955475756